.container {
    display: flex;
    height: 100vh;
    background-color: beige;
}

.content {
    
    width: 100%;
    padding-bottom: 50px;
    position: absolute;
    top: 0;
    left: 208px;
}

.content_body {
    margin: 15px;
    display: flex;
}